
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>welcome to adonis</title>
</head>
<body>
  @if(auth.isAuthenticated)
    <h1>{{ auth.user.name }}</h1>
    <form action="/logout" method="POST">
      <button type="submit">Log out</button>
    </form>
  @else 
    <a href="/login">Login</a>
  @endif
</body>
</html>